.debug > * {
outline: 4px solid green;
}
.debug > * > * {
outline: 3px solid red;
}
.debug > * > * > * {
outline: 2px solid orange;
}
.debug > * > * > * > * {
outline: 1px solid gray;
}

* {
box-sizing: border-box; }
*:before {
box-sizing: border-box; }
*:after {
box-sizing: border-box; }

body {
font-size: 16px;
line-height: 16px;
color :#283136;
font-weight: normal;
font-family: "Roboto Medium", sans-serif;
}


/*header*/
.title-header {
    font-size: 36px;
    line-height: 36px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
}
.header{
    margin: 0 auto;
}

.logo-img{
    float:left;
    width:190px;
}

nav {
    float:right;

}

.main-navigation {
  float: left;
  width: 540px;
  margin: 0;
}

.welcome {
    font-size: 40px;
    line-height: 40px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium" sans-serif;
    padding: 0px 100px;
    text-align: center;
    margin: 0;
}


.slides {
    padding: 0px;
    float: left;
    margin: 0;
}
.sliders-wrap{
    float: left;
    width: 880px;
    text-align: center;
}

.main-navigation  li  {
    display:inline-block;
    margin-right: 45px;

}
.shopping-cart {
  float: right;
  width: 90px;
}

/*содержание страницы*/

.container {
    width: 880px;
    margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.title {
    font-size: 36px;
    line-height: 36px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
}

.h1 {
    width: 880px;
    margin: 0 auto;
}
p {
    margin:0;
}


/*Каталог */
.left-column {
    float: left;
    width: 250px;
}

input.min-price {
    width: 80px;
}

input.max-price {
    width: 80px;
}

.right-column {
    float: right;
    width: 570px;
}

.sorting {
    width: 570px;
    margin: 0;
    padding: 0;
}

.sorting,
.right-column .filter-title,
.sorting-preference {
    float:left;
}

.sorting-up,
.sorting-down{
    float: right;
}

.sorting-preference ul {
    margin: 0;
}

.sorting-preference li {
    display:inline-block;
}

.grid-filter label,
.features-filter label {
	display: block;
}
.catalog-item {
    display: inline-block;
    width: 240px;
    height: 270px;
    margin-right: 60px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 45px;
}

.catalog-item:nth-child(2n) {
    margin-right:0;
}

/*Главная */
.services {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.services:last-child {
  margin-right: 0;
}

.services-title {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto Medium";
    text-transform: uppercase;
}

.services{
    display: inline-block;
}
.about-left {
    float: left;
    width: 570px;
    margin-left: 10px;
    margin-right: 20px;
}

.about-left ul{
    margin-right: 0 auto;
}

.about-title{
    margin-right: 0 auto;
}

.about-right{
    float: right;
    width: 230px;
    margin-right: 20px;
    margin-top: 150px;
}


/*footer*/
.footer {
    float: none;
    clear: both;
    margin: 0 auto;
}

.footer-contacts {
    width: 250px;
}

.left-column-social{
    font-size: 0;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}

.social-btn,
.social-btn-vk,
.social-btn-fb,
.social-btn-inst {
    display: inline-block;
    font-size: 14px;
    width: 64px;
    height: 64px;
    vertical-align: middle;
    margin-right: 0px;
}

.social-btn-vk,
.social-btn-fb {
    margin-right: 30px;
}

.right-column-social {
    float: right;
    width: 540px;
    margin-right: 20px;
}

.popup {
    margin: 0 auto;
    width: 880px;
}
