.debug > * {
outline: 4px solid green;
}
.debug > * > * {
outline: 3px solid red;
}
.debug > * > * > * {
outline: 2px solid orange;
}
.debug > * > * > * > * {
outline: 1px solid gray;
}

* {
box-sizing: border-box; }
*:before {
box-sizing: border-box; }
*:after {
box-sizing: border-box; }


/*header*/

.title-header {
    font-size: 36px;
    line-height: 36px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
}
.header{
    margin: 0 auto;
}

.logo-img{
    float:left;
    width:190px;
}
nav {
    float:right;

}
.main-navigation {
  float: left;
  width: 540px;
}
h1.welcome {
    font-size: 40px;
    line-height: 40px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium" sans-serif;
    padding: 0px 100px;
    text-align: center;
    margin: 0;
}


.slides {
    padding: 0px;
    float: left;
    margin: 0;
}
.sliders-wrap{
    float: left;
    width: 880px;
    text-align: center;
}

.main-navigation  li  {
    display:inline-block;
}
.shopping-cart {
  float: right;
  width: 90px;
}

/*содержание страницы*/

body {
font-size: 16px;
line-height: 16px;
color :#283136;
font-weight: normal;
font-family: "Roboto Medium", sans-serif;
}
.container {
    width: 880px;
    margin: 0 auto;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.title {
    font-size: 36px;
    line-height: 36px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
}

.services-title {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto Medium";
    text-transform: uppercase;
}
.services{
    display: inline-block;
}


.h1 {
    width: 880px;
    margin: 0 auto;
}

.left-column {
    float: left;
    width: 250px;
}

input.min-price {
    width: 80px;
}

input.max-price {
    width: 80px;
}

.right-column {
    float: right;
    width: 570px;
}
.sorting {
    width: 570px;
    margin: 0;
    padding: 0;
}
.sorting,
.right-column .filter-title,
.sorting-preference {
    float:left;
}
.sorting-up,
.sorting-down{
    float: right;
}

.sorting-preference ul {
    margin: 0;
}
.sorting-preference li {
    display:inline-block;
}

.grid-filter label,
.features-filter label {
	display: block;
}
.catalog-item {
    display: inline-block;
    width: 240px;
}

 .catalog-item:nth-child(2n) {
    margin-right:0;
}
.services {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.services:last-child {
  margin-right: 0;

.about { }
.title { }
.about-title { }

.logo-img { }
nav   { }
.shopping-cart { }
.welcome  { }
.filters { }
.price-filter { }
.filter-title { }

.grid-filter { }
.features-filter { }

.sorting-up { }
.catalog-list { }
.white-dots { }

.catalog-item-title { }
.catalog-item-description { }
.pagination { }

/*кнопки*/
.btn { }
.btn-sites { }
.btn-apps { }
.btn-presentation { }
.btn
.btn-buy
.active-btn


/*footer*/
.footer {
    float:none;
    clear: both;
    margin: 0 auto;
}
.footer-contacts {
    float: bottom;
    width: 250px;
}
.popup {
    margin: 0 auto;
    width: 880px;
}
