.debug > * {
outline: 4px solid green;
}
.debug > * > * {
outline: 3px solid red;
}
.debug > * > * > * {
outline: 2px solid orange;
}
.debug > * > * > * > * {
outline: 1px solid gray;
}

body {
font-size: 16px;
line-height: 16px;
color :#283136;
font-weight: normal;
font-family: "Roboto Medium", sans-serif;
}

.title-header {
    font-size: 36px;
    line-height: 36px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
}

.title {
    font-size: 36px;
    line-height: 36px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
}

.services-title {
    font-size: 18px;
    line-height: 30px;
    color :#000000;
    font-weight: normal;
    font-family: "Roboto Medium";
    text-transform: uppercase;
}

.container {
    width: 500px;
    margin: 50px auto;
    min-height: 100px;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.header


.container {
    width: 500px;
    margin: 50px auto;
    min-height: 300px;
}

.main-navigation {
  float: left;
  width: 520px;
  /* для оформления схемы */
  min-height: 50px;
}

.shopping-cart {
  float: right;
  width: 90px;
  /* для оформления схемы */
  min-height: 50px;
}
.welcome {

}
.left-column {
    float: left;
    width: 240px;
}
.right-column {
    float: right;
    width: 560px;
}


.footer {
    clear: both;
}
