* {
    box-sizing: border-box; }
*:before {
    box-sizing: border-box; }
*:after {
    box-sizing: border-box; }

@charset "UTF-8";


body {
    /*font-size: 16px;
    line-height: 16px;
    color: #283136;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    min-width: 880px;
    background-color: #ffffff;
*/
}

header{
    background-color: #6451d5;
}

.study{
    float: left;
    width: 1200px;
    background-image: url("../img/items.png");
    background-repeat: no-repeat;
    background-position: 100% top;
}

.study-text{
    width: 320px;
    padding: 80px 0;
}

.study-title{
    font-size: 45px;
    line-height: 1;
    color: #ffffff;
}
.study-text p{
    font-size: 16px;
    line-height: 22px;
    padding: 50px 0;
    color: #b2a8ee;
    text-align: left;
}

.study .btn{
    display: block;
    width: 320px;
    padding: 25x 0;
    margin-top: 25px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #382d78;
}
